*, *::before, *::after {
  box-sizing: border-box;
}

#root {
  box-sizing: border-box;
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
}

/* Typography and icons */

.header-title {
  color: whitesmoke;
  font-size: 1.125rem;
  text-align: center;
  margin: 0;
}


/* Layout */

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-x: hidden; /* Prevents horizontal scrolling */
  /* padding: 2.5rem; */
  padding: 0;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F55A5A;
  width: 100%;
  padding: 2.5rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 0 2.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  padding: 2.5rem;
  border-bottom: 1px solid #E1DCD9;
}

.card-image-container,
.card-info,
.card-location-container {
  width: 100%;
}

.card-info {
  display: flex;
  flex-direction: column;
}

.card-location-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card-location-country {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-description {
  margin-bottom: 0;
}

/* Buttons */


/* Images */

.logo {
  margin-bottom: 0.5rem;
}

.location-pin {
  /* width: 100%; */
  width: 0.5rem;
  margin-right: 0.5rem;
}

.card-image {
  width: 100%;
  border-radius: 0.5rem;
}


/* Links */


/* Media queries */

/* @media(width >= 600px) */
@media (min-width: 600px) {
  /* Typography and icons*/

  .header-title {
    font-size: 2.5rem;
  }


  /* Layout */

  .header {
    flex-direction: row;
  }

  .card {
    flex-direction: row;
    width: 80%;
  }

  /* Images */

  .logo {
    height: 2.5rem;
    width: 2.5rem;
    margin: 0 0.5rem 0 0;
  }

}

