*, *::before, *::after {
  box-sizing: border-box;
}

#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
}

/* Typography and icons */


/* Layout */

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden; /* Prevents horizontal scrolling */
  padding: 2.5rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Buttons */


/* Images */


/* Links */


/* Media queries */

/* @media(width >= 600px) */
@media (min-width: 600px) {

}

