*, *::before, *::after {
  box-sizing: border-box;
}

#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
}

/* Typography and icons */


/* Layout */

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-x: hidden; /* Prevents horizontal scrolling */
  padding: 2.5rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 80%;
  padding: 0;
  margin-bottom: 2.5rem;
}

.card-info {
  display: flex;
  flex-direction: column;
}

.location {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Buttons */


/* Images */

.card-image {
  width: 100%;
  margin: 0;
}


/* Links */


/* Media queries */

/* @media(width >= 600px) */
@media (min-width: 600px) {
  /* Layout */

  .card {
    flex-direction: row;
  }

}

